
node_modules/
task-manager-backend/node_modules/
task-manager-frontend/node_modules/


.env
task-manager-backend/.env


dist/
.DS_Store


# Playwright
playwright/node_modules/
playwright//test-results/
playwright//playwright-report/
playwright//blob-report/
playwright//playwright/.cache/
playwright//playwright/.auth/
playwright/.auth
playwright/.env